body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:203px;
  width:300px;
  height:476px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:259px;
  height:19px;
}
#u2421p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:254px;
  height:6px;
}
#u2421p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:6px;
}
#u2421p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u2421p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2421p002 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2421p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:443px;
  width:250px;
  height:1px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:166px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:174px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:249px;
  width:263px;
  height:174px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:259px;
  word-wrap:break-word;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:569px;
  width:244px;
  height:36px;
  font-size:16px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:240px;
  word-wrap:break-word;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:203px;
  width:300px;
  height:535px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:260px;
  width:296px;
  word-wrap:break-word;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:159px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:790px;
  width:689px;
  height:434px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  white-space:nowrap;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:715px;
  width:353px;
  height:238px;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:299px;
  height:19px;
}
#u2429p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:296px;
  height:6px;
}
#u2429p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:6px;
}
#u2429p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u2429p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2429p002 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2429p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:587px;
  width:290px;
  height:1px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:460px;
  width:148px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:203px;
  width:300px;
  height:476px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:159px;
  width:244px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u2433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:312px;
  width:251px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:247px;
  word-wrap:break-word;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:435px;
  width:89px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:435px;
  width:89px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u2436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:753px;
  width:451px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  white-space:nowrap;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC3366;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:865px;
  width:193px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC3366;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
